<div class="container" style="margi-right: -3px; ">
  <main>
    <div
      class="contact-section my-4"
      style="background-color : white;border-radius: 15px;"
    >
      <div class="title text-center mb-1"><br />
        <h3 class="font-weight-bolder" style=" margin-top: 10px ">Add Post</h3>
      </div>
      <form
        method="POST"
        action="/addpost"
        class="w-50 m-auto was-validated text-black p-3"
        enctype="multipart/form-data"
      >

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="fullname" required />
          <div class="valid-feedback">Valid</div>
          <div class="invalid-feedback">Please enter your fullname as soon as
            possible</div>
        </div>

        <div class="form-group">
          <label for="description" name="description">Description</label>
          <textarea
            style="resize: none;"
            name="message"
            class="form-control"
            id=""
            cols="20"
            rows="10"
          ></textarea>
          <input type="file" style=" margin-top: 10px " name="mainimage" />
        </div>
        <div class="form-group" style=" margin-top: 10px ">
          <input type="submit" class="btn btn-secondary" value="submit" />
          <input type="reset" class="btn btn-secondary" value="Reset" />
        </div>
      </form>
    </div>
  </main>
</div>