

<div class="row"style="margin-left: -120px; ">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top:5%; background-color : white;border-radius: 15px;">
        <h6 style="text-align: center;">Register</h6>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="user_name">Enter your Email here </label>
                <input type="email" class="form-control" id="user_name" name="email" placeholder="Enter username/email">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div> <br>
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" style="text-align: center;">Submit</button>
            </div>

        </form>
        <br>
        <div class="row">
            <div class="col">
                Don't have an account ? <a href="/register">Register</a>

            </div>

        </div>
    </div>
    <div class="col-md-4"></div>

</div>
</div>